body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Lato", sans-serif;
}

/* header section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  padding: 0 15px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

#navbar li a:hover {
  color: #b71c1c;
}

/* Remember to add the class to the respective page  */
#navbar li a.active {
  text-decoration: underline;
  color: #b71c1c;
}

/* Footer Section */
#footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 2% 15% 2% 15%;
}

#footer img {
  margin-top: 5%;
  max-width: 220px;
  height: auto;
}

#footer div.footernav1 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

#footer div.footernav1 a:hover {
  color: #b71c1c;
}
/**************************************************************************************************** */
/* Home Page Section */
#hero {
  background-image: url("./img/heroimg.jpg");
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

#hero h1 {
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  margin: 0;
  opacity: 0.85;
}

#story {
  display: flex;
  align-items: center;
  border-top: 2px solid #f9f9f9;
  padding-top: 20px;
}

#story div:first-child {
  flex: 1;
}

#story div img {
  max-width: 80%;
  height: auto;
  padding: 10% 0 0 30%;
}

#story div.storydescription {
  color: #f9f9f9;
  text-align: center;
  padding: 5% 15% 0 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#story div p {
  margin-bottom: 10%;
}

#story div button {
  background-color: #f9f9f9;
  color: #000000;
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#homemenu {
  margin-top: 5%;
  border-top: 2px solid #f9f9f9;
  padding-top: 20px;
}

#homemenu h1 {
  color: #f9f9f9;
  font-size: 3em;
  text-align: center;
}

#homemenu p {
  color: #f9f9f9;
  font-size: 1em;
  text-align: center;
}

#homemenu div.homemenuimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 15% 5% 15%;
}

#homemenu div.homemenuimg img {
  max-width: 25%;
  height: auto;
}

#homemenu button {
  margin: 0 auto;
  display: block;
  margin-bottom: 5%;
  background-color: #f9f9f9;
  color: #000000;
  padding: 12px 24px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
