body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Lato", sans-serif;
}

/* header section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  padding: 0 15px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

#navbar li a:hover {
  color: #b71c1c;
}

/* Remember to add the class to the respective page  */
#navbar li a.active {
  text-decoration: underline;
  color: #b71c1c;
}

/* Footer Section */
#footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 2% 15% 2% 15%;
}

#footer img {
  margin-top: 5%;
  max-width: 220px;
  height: auto;
}

#footer div.footernav1 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

#footer div.footernav1 a:hover {
  color: #b71c1c;
}

/**************************************************************************************************** */
/* Account Section */

#account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
}

.card {
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  max-width: 800px; /* optional max width to prevent it from becoming too wide */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-icon {
  border-radius: 50%;
  width: 256px;
  height: 256px;
  object-fit: cover;
  margin-bottom: 20px;
}

.user-info h2 {
  color: #f9f9f9;
  font-size: 2em;
}

.user-info p {
  color: #f9f9f9;
  font-size: 1em;
}

.user-info h3 {
  color: #f9f9f9;
  margin-top: 20px;
  font-size: 2em;
}

.promo-card {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.promo-card h3 {
  margin: 0;
  font-size: 1.5em;
}

.promo-card p {
  font-size: 1.2em;
  color: #b71c1c;
}

.promo-button {
  padding: 10px 20px;
  background-color: #b71c1c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 20px;
}

.promo-button:hover {
  background-color: #961919;
}
