body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Lato", sans-serif;
}

/* header section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  padding: 0 15px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

#navbar li a:hover {
  color: #b71c1c;
}

/* Remember to add the class to the respective page  */
#navbar li a.active {
  text-decoration: underline;
  color: #b71c1c;
}

/* Footer Section */
#footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 2% 15% 2% 15%;
}

#footer img {
  margin-top: 5%;
  max-width: 220px;
  height: auto;
}

#footer div.footernav1 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

#footer div.footernav1 a:hover {
  color: #b71c1c;
}

/**************************************************************************************************** */
/* About Page Section */

#abouthero {
  height: 30vh;
}

#abouthero h1 {
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  font-size: 3.5em;
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#abouthero p {
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  font-size: 0.8em;
  margin: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#aboutstory {
  display: flex;
  align-items: center;
  border-top: 1px solid #f9f9f9;
  padding-top: 20px;
}

#aboutstory div:first-child {
  flex: 1;
}

#aboutstory div img {
  max-width: 80%;
  height: auto;
  padding: 10% 0 5% 30%;
}

#aboutstory div.storydescription {
  color: #f9f9f9;
  text-align: center;
  padding: 5% 10% 5% 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutstory div.storydescription h1 {
  font-size: 3em;
}

#aboutstory div.storydescription p {
  font-size: 1.1em;
}

#aboutlocation {
  border-top: 1px solid #f9f9f9;
  padding-top: 2%;
}

#aboutlocation h1 {
  color: #f9f9f9;
  text-align: center;
  font-size: 3em;
}

#aboutlocation img {
  display: block;
  margin: 0 auto;
  width: 750px;
  height: 385px;
}

#aboutlocation h2 {
  color: #f9f9f9;
  text-align: center;
  font-size: 2.8em;
}

#aboutlocation p {
  color: #f9f9f9;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 2%;
}
