body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: "Lato", sans-serif;
}

/* header section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  padding: 0 15px;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
}

#navbar li a:hover {
  color: #b71c1c;
}

/* Remember to add the class to the respective page  */
#navbar li a.active {
  text-decoration: underline;
  color: #b71c1c;
}

/* Footer Section */
#footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 2% 15% 2% 15%;
}

#footer img {
  margin-top: 5%;
  max-width: 220px;
  height: auto;
}

#footer div.footernav1 a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

#footer div.footernav1 a:hover {
  color: #b71c1c;
}

/**************************************************************************************************** */
/* Menu Page Section */

#menuhero {
  height: 30vh;
  border-bottom: 1px solid #f9f9f9;
}

#menuhero h1 {
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  font-size: 3.5em;
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menuhero p {
  color: #f9f9f9;
  text-align: center;
  position: absolute;
  font-size: 1em;
  margin: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menupage {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.menu-column {
  text-align: center;
}

.menu-image {
  width: 300px;
  height: 200px;
  display: block;
  margin: 20px auto;
}

#menubuttondiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubutton {
  background-color: #b71c1c;
  color: #f9f9f9;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  margin: 2%;
  cursor: pointer;
}

.menubutton:hover {
  background-color: #8b1616;
}
